# Bundler
/Gemfile.lock
/bin/
/.bundle/
/bundle/
/vendor/gems/

# Berkshelf
/Berksfile.lock
/cookbooks/
/vendor/cookbooks/

# Vagrant
/.vagrant/

# Test Kitchen
/.kitchen/
/.kitchen.local.yml

# Chefspec
/.coverage/

# GCE
google.json
google.p12
google.pem

# knife solo
nodes/

coverage/
