variable "do_token" {
  default = "the-token-goes-here"
}

variable "image_id" {
  default = "get-your-image-id"
}

variable "ssh_key" {
  default = "put-your-ssh-key-id-here"
}

variable "octohost_name" {
  default = "octohost"
}
